In [1]:
import pandas as pd
import numpy as np #using numpy to create null value.

#### How to create dataframe and series?

In [2]:
s = pd.Series([1,2,3,4,56,np.nan,7,8,90])
print(s)

0     1.0
1     2.0
2     3.0
3     4.0
4    56.0
5     NaN
6     7.0
7     8.0
8    90.0
dtype: float64

How to create dataframe using numpy array?

In [3]:
#Creating dataframe by passing numpy array day, time index and numpy column.
d= pd.date_range('20200809',periods=15)
print(d)

DatetimeIndex(['2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20',
               '2020-08-21', '2020-08-22', '2020-08-23'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(15,4), index= d, columns = ['A','B','C','D'])
print(df)

                   A         B         C         D
2020-08-09 -0.063109  0.033413 -0.950350  0.861121
2020-08-10  0.557190  1.288908 -0.328370  1.842016
2020-08-11 -0.025799 -0.062010  0.308710  0.724017
2020-08-12  1.527269 -1.129029  0.805953 -1.353373
2020-08-13  0.696484 -0.220882 -1.300639  0.488143
2020-08-14  0.515347 -0.688517 -1.812345  0.820713
2020-08-15 -0.972182  1.093194  1.262247  0.422453
2020-08-16 -0.038773 -1.365450 -1.338075 -1.371267
2020-08-17  0.455024  0.276002  0.621480 -1.196483
2020-08-18  1.063829  0.077480  0.160244 -1.149531
2020-08-19 -0.219263 -0.767491 -0.109353  0.987076
2020-08-20 -0.760085  1.577133  0.099713  0.207894
2020-08-21 -1.096628  0.480383  0.479541 -0.008524
2020-08-22  1.502934 -0.765087  1.047706 -1.672914
2020-08-23 -0.994268  0.607074  1.268662 -0.123366

##### How to create dataframe by passing dictionary of objects?
it can be converted in to series too

In [5]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                  'B': pd.Timestamp('20200809'),
                  'C': pd.Series(1, index= list(range(4)), dtype='float32'),
                  'D':np.array([5]*4, dtype= 'int32'),
                  'E':"Lolitha"})
print(df1)

   A          B    C  D        E
0  1 2020-08-09  1.0  5  Lolitha
1  2 2020-08-09  1.0  5  Lolitha
2  3 2020-08-09  1.0  5  Lolitha
3  4 2020-08-09  1.0  5  Lolitha

In [6]:
#How to find datatypes of a dataframe?
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

How to get first and last five values in the data frame

In [7]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [8]:
df.head()

                   A         B         C         D
2020-08-09 -0.063109  0.033413 -0.950350  0.861121
2020-08-10  0.557190  1.288908 -0.328370  1.842016
2020-08-11 -0.025799 -0.062010  0.308710  0.724017
2020-08-12  1.527269 -1.129029  0.805953 -1.353373
2020-08-13  0.696484 -0.220882 -1.300639  0.488143

In [9]:
df.tail()

                   A         B         C         D
2020-08-19 -0.219263 -0.767491 -0.109353  0.987076
2020-08-20 -0.760085  1.577133  0.099713  0.207894
2020-08-21 -1.096628  0.480383  0.479541 -0.008524
2020-08-22  1.502934 -0.765087  1.047706 -1.672914
2020-08-23 -0.994268  0.607074  1.268662 -0.123366

In [11]:
df.index

DatetimeIndex(['2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20',
               '2020-08-21', '2020-08-22', '2020-08-23'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.to_numpy()

array([[-0.06310851,  0.03341279, -0.95035025,  0.86112078],
       [ 0.55719042,  1.28890815, -0.32836985,  1.84201584],
       [-0.0257993 , -0.06201014,  0.30870965,  0.72401657],
       [ 1.52726866, -1.129029  ,  0.80595347, -1.35337271],
       [ 0.69648358, -0.22088212, -1.30063882,  0.48814317],
       [ 0.51534709, -0.68851738, -1.81234453,  0.8207131 ],
       [-0.97218214,  1.09319361,  1.26224717,  0.42245313],
       [-0.03877325, -1.36545026, -1.33807463, -1.37126655],
       [ 0.45502421,  0.27600216,  0.62147997, -1.19648303],
       [ 1.06382882,  0.07747985,  0.16024391, -1.14953123],
       [-0.2192631 , -0.76749076, -0.10935279,  0.98707593],
       [-0.76008474,  1.57713258,  0.09971311,  0.20789388],
       [-1.09662786,  0.48038258,  0.47954085, -0.00852444],
       [ 1.50293422, -0.76508666,  1.0477063 , -1.67291403],
       [-0.99426819,  0.60707443,  1.268662  , -0.12336604]])

In [17]:
df.sort_index(axis=1,ascending = True)

                   A         B         C         D
2020-08-09 -0.063109  0.033413 -0.950350  0.861121
2020-08-10  0.557190  1.288908 -0.328370  1.842016
2020-08-11 -0.025799 -0.062010  0.308710  0.724017
2020-08-12  1.527269 -1.129029  0.805953 -1.353373
2020-08-13  0.696484 -0.220882 -1.300639  0.488143
2020-08-14  0.515347 -0.688517 -1.812345  0.820713
2020-08-15 -0.972182  1.093194  1.262247  0.422453
2020-08-16 -0.038773 -1.365450 -1.338075 -1.371267
2020-08-17  0.455024  0.276002  0.621480 -1.196483
2020-08-18  1.063829  0.077480  0.160244 -1.149531
2020-08-19 -0.219263 -0.767491 -0.109353  0.987076
2020-08-20 -0.760085  1.577133  0.099713  0.207894
2020-08-21 -1.096628  0.480383  0.479541 -0.008524
2020-08-22  1.502934 -0.765087  1.047706 -1.672914
2020-08-23 -0.994268  0.607074  1.268662 -0.123366

In [20]:
df.sort_values(by='D')

                   A         B         C         D
2020-08-22  1.502934 -0.765087  1.047706 -1.672914
2020-08-16 -0.038773 -1.365450 -1.338075 -1.371267
2020-08-12  1.527269 -1.129029  0.805953 -1.353373
2020-08-17  0.455024  0.276002  0.621480 -1.196483
2020-08-18  1.063829  0.077480  0.160244 -1.149531
2020-08-23 -0.994268  0.607074  1.268662 -0.123366
2020-08-21 -1.096628  0.480383  0.479541 -0.008524
2020-08-20 -0.760085  1.577133  0.099713  0.207894
2020-08-15 -0.972182  1.093194  1.262247  0.422453
2020-08-13  0.696484 -0.220882 -1.300639  0.488143
2020-08-11 -0.025799 -0.062010  0.308710  0.724017
2020-08-14  0.515347 -0.688517 -1.812345  0.820713
2020-08-09 -0.063109  0.033413 -0.950350  0.861121
2020-08-19 -0.219263 -0.767491 -0.109353  0.987076
2020-08-10  0.557190  1.288908 -0.328370  1.842016

In [21]:
df['C']

2020-08-09   -0.950350
2020-08-10   -0.328370
2020-08-11    0.308710
2020-08-12    0.805953
2020-08-13   -1.300639
2020-08-14   -1.812345
2020-08-15    1.262247
2020-08-16   -1.338075
2020-08-17    0.621480
2020-08-18    0.160244
2020-08-19   -0.109353
2020-08-20    0.099713
2020-08-21    0.479541
2020-08-22    1.047706
2020-08-23    1.268662
Freq: D, Name: C, dtype: float64

Slicing the rows

In [22]:
df[0:3]

                   A         B        C         D
2020-08-09 -0.063109  0.033413 -0.95035  0.861121
2020-08-10  0.557190  1.288908 -0.32837  1.842016
2020-08-11 -0.025799 -0.062010  0.30871  0.724017

Selecting data using label

In [25]:
df.loc[d[0]]

A   -0.063109
B    0.033413
C   -0.950350
D    0.861121
Name: 2020-08-09 00:00:00, dtype: float64

Select Multiaccess using labels

In [26]:
df.loc[:,['A','C']]

                   A         C
2020-08-09 -0.063109 -0.950350
2020-08-10  0.557190 -0.328370
2020-08-11 -0.025799  0.308710
2020-08-12  1.527269  0.805953
2020-08-13  0.696484 -1.300639
2020-08-14  0.515347 -1.812345
2020-08-15 -0.972182  1.262247
2020-08-16 -0.038773 -1.338075
2020-08-17  0.455024  0.621480
2020-08-18  1.063829  0.160244
2020-08-19 -0.219263 -0.109353
2020-08-20 -0.760085  0.099713
2020-08-21 -1.096628  0.479541
2020-08-22  1.502934  1.047706
2020-08-23 -0.994268  1.268662

In [31]:
df.loc['20200821',['D','C']]

D   -0.008524
C    0.479541
Name: 2020-08-21 00:00:00, dtype: float64

In [34]:
#HOw to get scalar value
df.loc[d[0],['D','A']]

D    0.861121
A   -0.063109
Name: 2020-08-09 00:00:00, dtype: float64

In [36]:
df2=df.reindex(index=d[0:4], columns=list(df.columns)+['E'])

In [37]:
df2.loc[d[0]:d[1],'E']=1

In [38]:
df2

                   A         B         C         D    E
2020-08-09 -0.063109  0.033413 -0.950350  0.861121  1.0
2020-08-10  0.557190  1.288908 -0.328370  1.842016  1.0
2020-08-11 -0.025799 -0.062010  0.308710  0.724017  NaN
2020-08-12  1.527269 -1.129029  0.805953 -1.353373  NaN

In [39]:
df2.isnull()

                A      B      C      D      E
2020-08-09  False  False  False  False  False
2020-08-10  False  False  False  False  False
2020-08-11  False  False  False  False   True
2020-08-12  False  False  False  False   True